<div class="chat_top">
  <div class="left_header">
    <div class="current_room">
      hogefuga
    </div>
  </div>
  <div class="close_chat_btn">
    <div class="right_header">
      <div class="close_chat">
        <a href="#">チャットを終了する</a>
      </div>
    </div>
  </div>
</div>

<div class="chat_main">
  <div class="post">
    <div class="upper_message">
      <div class="posted_user">
        Tom
      </div>
      <div class="posted_time">
        2020/3/31(Wed)12:43:30
      </div>
    </div>
    <div class="lower_message">
      <div class="posted_message">
        おはよう
      </div>
    </div>
  </div>
  
  <div class="post">
    <div class="upper_message">
      <div class="posted_user">
        Mark
      </div>
      <div class="posted_time">
        2020/3/31(Wed)12:45:30
      </div>
    </div>
    <div class="lower_message">
      <div class="posted_message">
        Hello
      </div>
    </div>
  </div>
</div>

<div class="form">
  <div class="form_input">
    <input class="form_message" placeholder= "type a message">
    <label class="form_image">
      <span class="image_file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input class="form_submit" type="submit" value="送信">
</div>